/* Formatação Geral  */
body {

	font-family: "Gloria+Hallelujah", "Amatic+SC", cursive;
	background-color: #e5cbab;
}

h1, h2, h3{

	margin: 0;
	font-family: Caveat, "Amatic+SC", cursive;
	font-weight: 700;
}
  
p{

	font-family: "Amati+SC", "Gloria+Hallelujah", cursive;
}

.container{
	width: 100%;

}
/* Cabeçalho ou Barra de Navegação*/

.logo. img{
	border-radius: 50px;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #533d32;
	padding: 2px;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;

}

nav ul li a{

	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #e5cbab;
}

/* Header*/

header {

	background-image: url('../img/fundo.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #e5cbab;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
}

header p{

	margin-bottom: 2em;
	font-size: 1.7em;

}

.botao{

	color: #533d32;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #b89778;
	font-size: .8em;
	border-radius: 50%;
}

/* Sobre */
#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #533d32;
	color: #e5cbab;
}
#sobre h2{
	margin-top: 20px;
	font-size: 2em;
}

.foto img{
	width: 60%
}
.foto{
	float: left;
	width: 50%;
}

.texto{
	float: right;
	width: 50%;
}

/*Especialidades*/

#especialidades{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
	color: #533d32;

}   

#especialidades div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

#especialidades p{
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
}

#especialidades img{
	margin: 10px 0;
}
#especialidades h2{
	font-size: 2.5em;
}
#especialidades h3{
	font-size: 1.5em;
}

#competencias{

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#competencias h2{

	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
}

#competencias h3,p{

	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.5em;
	text-align: center;
}

#competencias a{
	text-decoration: none;
	color: #533d32;
}

#competencias img{
	width: 100%;
	margin-bottom: 0;
}

#competencias .comp p{
	border-left: 2px dashed #533d32;
	border-right: 2px dashed #533d32;
	border-bottom: 2px dashed #533d32;
	margin-top: 0;
	font-family: "Amati+SC", "Gloria+Hallelujah", cursive; 
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;
	color: #533d32;
}

/*Site trab*/

#trab{

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#trab h2{

	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
}

#trab h3,p{

	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}
#trab a{
	text-decoration: none;
}

#trab img{
	width: 100%;
	margin-bottom: 0;
}

#trab .si p{
	border-left: 2px dashed #e5cbab;
	border-right: 2px dashed #e5cbab;
	border-bottom: 2px dashed #e5cbab;
	margin-top: 0;
	font-family: "Amati+SC", "Gloria+Hallelujah", cursive; 
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;
}

.si img:hover{top:-5px;
	box-shadow:0 2px 2px #533d32;
}
#siteg{position:relative}

.si img{
	border-left: 2px dashed #e5cbab;
	border-right: 2px dashed #e5cbab;
	border-bottom: 2px dashed #e5cbab;
}

/*hobby*/

#hobby{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #533d32;
	color: #e5cbab;
}
#hobby{

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#hobby h2{

	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
}

#hobby h3,p{

	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.5em;
	text-align: center;
}
#hobby a{
	text-decoration: none;
}

#hobby img{
	width: 100%;
	margin-bottom: 0;
}
.hobby p{
	border-left: 2px dashed #e5cbab;
	border-right: 2px dashed #e5cbab;
	border-bottom: 2px dashed #e5cbab;
	margin-top: 0;
	font-family: "Amati+SC", "Gloria+Hallelujah", cursive; 
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;
}

#gosto{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#gosto h2{
	margin-top: 20px;
	font-size: 2em;
	color: #533d32;
}

.desenho img{
	width: 60%
}
.desenho{
	float: left;
	width: 50%;
}
.text{
	float: right;
	width: 50%;
	color: #533d32;
}

/*Contato*/
#contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
}

#contato h2{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 2.5em;
	text-align: center;
	color: #533d32;
}

#contato > h3{
	margin-bottom: 20px;
	font-size: 2em;
	text-align: center;
	color: #533d32;

}

#contato a{
	text-decoration: none;
	font-family: "Amati+SC", "Gloria+Hallelujah",cursive; 
	text-align: center;
	text-decoration: none;
	color: #533d32;
	font-size: 1em;
}

}
#contato img{
	margin: 10px 0;
}

footer {
	text-align: center;
	width: 100%;
	background-color: #554838;
	color: #e5cbab;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (min-width: 768px){
/*Cabeçalho ou barara de navegação*/
nav{
	flex-direction: row;
	justify-content: space-around;
}

nav ul{
	flex-direction: row;
	width: 70%;
}

/* Header*/

header{
	height: 60vh;
	justify-content: top;
}
/*Sobre*/

#sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content:center;
	min-height: 80vh;
}
#sobre h2{
	text-align: center;
	width: 100%;
}

#sobre div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 30px;
}


}

/*Especialidades*/

#especialidades{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}

#especialidades h2{
	text-align: center;
	width: 100%;
}
#especialidades div{
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
}

/*competencias*/

#competencias {
	flex-direction: row;
	flex-wrap: wrap;
}
#competencias h2,h3{
	width: 100%;
	text-align: center;
}


#competencias .comp{
	width: 50%;
	text-align: center;
	position: center;
	margin-left: auto;
    margin-right: auto;
    
}

/*site trab*/

#trab{
	flex-direction: row;
	flex-wrap: wrap;
}
#trab h2,h3{
	width: 100%;
	text-align: center;
}


#trab .si{
	width: 33.3333333333%;
	text-align: center;
}


/*hobby*/
#hobby{
	flex-direction: row;
	flex-wrap: wrap;
}
#hobby h2,h3{
	width: 100%;
	text-align: center;
}

.hobby{
	width: 33.3333333333%;
	text-align: center;
}

#gosto{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content:center;
	min-height: 80vh;
}
#gosto h2{
	text-align: center;
	width: 100%;
}

#gosto div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 30px;
}

/*Contato*/
#contato{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	max-height: 40vh;
	width: 100%;
}

#contato h2,
#contato p{
width: 100%;
text-align: center;
}